<h1>{{id}}</h1>

<table border="1" align="center">

    <tr><td>Username </td> <td>Image</td>  <td>Number of books</td></tr>


    <tr> <td>{{author.username}}  </td>
    
        <td><img src='{{author.picture}}'  width="150px" height="100px"/>  </td>
    <td>{{author.nb_books}}</td>
    
    </tr>
</table>
